body {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    background-color: #fefefe;
    background-image: linear-gradient(315deg, #fefefe 0%, #00a4e4 74%);
}
.heading {
    /* background: #c2e143; */
    background: white;
    padding: 16px;
}
.navbar-brand {
    color: #CCE500;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 53px;
}
.brandspan {
    color: black;
}
.sessname {
    position: absolute;
    right: 65px;
    font-size: 21px;
    color: black;
}
.sidebar {
    background: #1b1b1b;
    width: 20%;
    padding: 1px;
    color:white;
    height: 595px;
    font-weight:500;
}
.sidebar ul li {
    list-style: none;
    padding: 16px 0px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    font-size: 19px;
}
.sidebar ul a {
    text-decoration: none;
    color: white;
}
section .wrapper {
    position: absolute;
    left: 304px;
    top: 60px;
    border: 1px solid gray;
    width: 75%;
    padding: 10px;
    height: 590px;
    overflow: auto;
}
section .wrapper table, td, th {
    /* width: 100%; */
    border: 1px solid gray;
    padding: 14px !important;
    border-collapse: collapse;
    text-align: center;
}
.wrapper table {
    width: 100%;
}
.wrapper table, tr {
    padding: 10px;
}
section .wrapper .container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}
section .wrapper .container label {
    display: block;
    font-weight: bold;
    margin: 5px 0px;
}
section .wrapper .container input[type="text"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}
section .wrapper .container input[type="password"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}
section .wrapper .container input[type="submit"] {
    margin: 5px 0px;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    background: yellowgreen;
    border-radius: 5px;
}
section .wrapper .box1 {
    border: 1px solid gray;
}
span {
    color: red;
}
input[type="submit"] {
    padding: 7px 22px;
    border: none;
    background: yellowgreen;
    cursor: pointer;
}
.wrapper .form {
    display: none;
}
section .wrapper .mainDiv {
    display: flex;
    background: #4c4c4c;
    padding: 10px;
    border-radius: 8px;
}
section .wrapper .mainDiv .box2 {
    width: 33%;
    margin: 10px;
    padding: 20px;
    height: 130px;
    background: #3856ef;
    color: white;
    border-radius: 6px;
    box-shadow: 2px 2px 6px black;
}
section .wrapper .mainDiv .box2 a {
    color: white;
    /* background: black; */
}
.box2 h4 {
    font-size: 45px;
    text-align: center;
    margin: 9px;
}
.box2 p {
    text-align: center;
    font-size: 20px;
}
#sortData, #filterData, #pendingRideFilter, #sortDataPendingRide, #completeRideFilter, #sortDataCompleteRide {
    padding: 10px;
    width: 25%;
    margin: 10px;
    border-radius: 5px;
}
.link {
    /* border-top: 1px solid rgb(139, 138, 138); */
    background-color: #3e0dff;
    padding: 4px;
    margin-left: -21px;
    margin-right: -21px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.link a {
    color: White;
    text-decoration: none;
}